:root {
  --color1: #e86619;
  --color2: #fff;
}

h1,
li,
p {
  color: var(--color2);
  font-family: arial;
  font-size: 14px;
  line-height: 1.4;
}

img.small_logo {
  margin-left: 20px;
  margin-top: 25px;
  display: block;
}

h1 {
  font-size: 30px;
  background: var(--color1);
  padding: 15px 40px;
  margin: 40px 0 20px 0;
  display: inline-block;
  font-family: robto, arial, sans-serif;
}

body {
  background: url("images/menu_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
