:root {
  --color1: #e86619;
  --color2: #fff;
}

body {
  margin: 0;
  background: linear-gradient(
      0deg,
      rgba(31, 31, 31, 0.4),
      rgba(26, 26, 26, 0.4)
    ),
    url("images/menu_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
li,
p {
  color: var(--color2);
  font-family: arial;
  font-size: 20px;
  line-height: 1.4;
}

img.small_logo {
  margin-left: 20px;
  margin-top: 25px;
}

h1 {
  font-size: 60px;
  background: var(--color1);
  padding: 15px 40px;
  display: inline;
  font-family: robto, arial, sans-serif;
}

div.menu_title {
  margin: 40px 0 50px 0;
}

.menu_list {
  margin: 30px;
}

.menu_list_item {
  margin: 20px 0px 5px 0px;
}

.menu_list_title {
  color: var(--color2);
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;

  display: inline-block;
  width: 350px;
}

.menu_list_price {
  color: var(--color1);
  font-family: arial;
  font-size: 20px;

  display: inline-block;
  width: 70px;

  text-align: right;
}

.menu_list_ingredients {
  display: block;
  color: #c8c8c8;
  font-family: Roboto;
  margin-top: 0;
  width: 320px;
}

.menu_list_vegetarian {
  display: inline-block;
  background-color: var(--color1);
  color: #000;
  font-family: roboto;
  font-size: 10px;
  font-weight: bold;
  padding: 3 8;
  border-radius: 8px;
  margin-top: 10px;
}
